*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background
{
    background-image:url(back1.jpg) ;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    font-family:sans-serif;
}
body
{

    font-family:sans-serif;
}
.menu-bar
{
    margin-top: 4px;
    background-color: #484545;
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 200px;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color:white;
}
.menu bar ul li a.active
{
    background-color: darkcyan;
    
    border: 200px solid darkcyan;
    border-radius: 100px;
}
.menu-bar ul li:hover
{
    background:lavender;
    border-radius:200px;
    color: #191717;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background:darkcyan;
    margin-top: 15px;
    margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display:block;
    margin:10px
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width:150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: white;
}
.background-image.center{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    user-select: none;
}
.center {
    color:#191717;
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding-left: 170px;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #484545;
   padding-top: 310px;
}
/* footer*/
footer{
    background: #343434;
    padding-top: 15px;
    
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
